body {
    background-color: black;
    color: white;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0px 0px 0px;
    font-size: 30px;
    text-align: center;
}

h3 {
    margin: 6px 20px;
    font-size: 18px;
    text-align: right;
}

table {
    margin: 0 auto;
    border-collapse:collapse;
}

#main td {
    border-bottom: solid;
}

.research_deadline_timer {
    text-align: center;
    margin: 20px 20px;
    font-size: 32px;
    width: 480px;
}

#owata {
    text-align: center;
    font-size: 150px;
    display: none;
}

#now {
    text-align: center;
}

#update {
    text-align: center;
}

#link {
    float: right;
    font-size: 14px;
}

#link a, #link a:visited {
    color: white;
}

#link a:hover, #link a:active {
    color: black;
    background-color: white;
}

.aa {
    font-family: 'ＭＳ Ｐゴシック','ＭＳＰゴシック','MSPゴシック','MS Pゴシック';
    font-size: 16px;
    line-height: 18px;
}
