body {
    background-color: black;
    color: white;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

table {
    margin: 0 auto;
    border-collapse:collapse;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0px 0px 0px;
    font-size: 30px;
    text-align: center;
}

h3 {
    margin: 0px;
    font-size: 15px;
    text-align: right;
}

td {
    border-bottom: solid;
}

.research_deadline_timer {
    text-align: center;
    margin: 20px 20px 20px;
    font-size: 35px;
    width: 520px;
}

#owata {
    text-align: center;
    font-size: 150px;
    display: none;
}

#now {
    text-align: center;
}
